@import "../../Styles/Variables/Colors.scss";

.navbar {
  background-color: $darkGrayColor;
  color: $whiteColor;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  padding-right: 50px;
}

@media screen and (min-width: 600px) {
  .navbar {
    padding-right: 90px;
  }
}
