.main {
  display: flex;
  flex-direction: row;
  padding: 50px;

  .seccaoMain {
    padding: 0 20px;

    img {
      width: 100%;
      height: 250px;
    }

    h1{
        margin: 15px 0;
    }
  }
}
