.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 50px;
}

.main .seccaoMain {
  padding: 0 20px;
}

.main .seccaoMain img {
  width: 100%;
  height: 250px;
}

.main .seccaoMain h1 {
  margin: 15px 0;
}
/*# sourceMappingURL=Content.css.map */