@import "../../../Styles/Variables/Colors.scss";
@import "../../../Styles/ComponentsStyles/ComponentsStyles.scss";

.Categories {
  border: 1px solid $grayColor;
  margin: 15px;
  padding: 15px;

  h1 {
    color: $redColor;
  }

  h3 {
    @include h3Categories();
  }

  a {
    @include listCategorie();
  }

  ::marker {
    color: $mediumGray;
  }

  .red {
    @include buttonColors($redColor);
  }

  .orange {
    @include buttonColors($orangeColor);
  }

  .blue {
    @include buttonColors($blueColor);
  }

  @media screen and (min-width: 600px) {
    width: 230px;
  }
}
