.Categories {
  border: 1px solid #acacac;
  margin: 15px;
  padding: 15px;
}

.Categories h1 {
  color: #cb0d1f;
}

.Categories h3 {
  font-weight: 600;
  color: #1e2b50;
  font-size: 18px;
  margin-top: 30px;
  margin-left: 30px;
}

.Categories a {
  text-decoration: none;
  color: #626262;
  list-style: #626262;
  font-size: 14px;
}

.Categories ::marker {
  color: #626262;
}

.Categories .red {
  width: 50px;
  height: 20px;
  padding-right: 2px;
  border: none;
  background: #cb0d1f;
  margin: 3px;
}

.Categories .orange {
  width: 50px;
  height: 20px;
  padding-right: 2px;
  border: none;
  background: #f26324;
  margin: 3px;
}

.Categories .blue {
  width: 50px;
  height: 20px;
  padding-right: 2px;
  border: none;
  background: #27a3a9;
  margin: 3px;
}

@media screen and (min-width: 600px) {
  .Categories {
    width: 230px;
  }
}
/*# sourceMappingURL=Categories.css.map */