@import "../../../components/Styles/Variables/Colors.scss";
@import "../../../components/Styles/ComponentsStyles/ComponentsStyles.scss";

.page {
  display: flex;
  flex-direction: column;

  .cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .card_info {
      display: flex;
      flex-direction: row;
    }

    h3 {
      @include h3Categories();
      text-align: center;
    }

    
    div {
      display: flex;
      flex-direction: column;
      margin: 10px;

      align-items: center;
    }

    img {
      border: 1px solid $ligthGray;

      width: 150px;
      height: 170px;
    }

    p {
      display: block;
    }
  }

  @media screen and (min-width: 600px) {
    display: flex;
    flex-direction: row;
  }
}
