.navBar {
  display: none;
}

@media screen and (min-width: 600px) {
  .navBar {
    background-color: #cb0d1f;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 54px;
    margin-top: 39px;
  }
  .navBar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navBar li {
    list-style-type: none;
    padding-left: 45px;
  }
  .navBar a {
    color: white;
    text-decoration: none;
    font-size: large;
  }
}

.sideBar {
  display: none;
}

@media screen and (min-width: 600px) {
  .sideBar {
    background-color: #e2dedc;
    display: inline-block;
    padding: 40px 80px 40px 0;
    height: 460px;
  }
  .sideBar a {
    margin: 10px;
    text-decoration: none;
    color: #231f20;
    height: 50px;
  }
}
/*# sourceMappingURL=NavBar.css.map */