@import "../../Styles/Variables/Colors.scss";

.navBar {
  display: none;

  @media screen and (min-width: 600px) {
    background-color: $redColor;
    color: $whiteColor;
    display: flex;
    align-items: center;
    height: 54px;
    margin-top: 39px;

    ul {
      display: flex;
      flex-direction: row;
    }
    li {
      list-style-type: none;
      padding-left: 45px;
    }
    a {
      color: white;
      text-decoration: none;
      font-size: large;
    }
  }
}

.sideBar {
  display: none;
  @media screen and (min-width: 600px) {
    background-color: $ligthGray;
    display: inline-block;
    padding: 40px 80px 40px 0;
    height: 460px;

    a {
      margin: 10px;
      text-decoration: none;
      color: $darkGrayColor;
      height: 50px;
    }
  }
}
