$whiteColor: rgb(255, 255, 255);

$darkGrayColor: hsl(345, 6%, 13%);
$mediumGray: rgb(98, 98, 98);
$grayColor: rgb(172, 172, 172);
$ligthGray: rgb(226, 222, 220);

$redColor: rgb(203, 13, 31);

$darkBlueColor: #1e2b50;
$blueColor: rgb(39, 163, 169);

$orangeColor: rgb(242, 99, 36);
