.breadCrumble {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px 10px 50px;
  margin-right: 50px;
}

.breadCrumble .principal {
  padding: 0 5px;
  text-decoration: none;
  color: #27a3a9;
}

.breadCrumble .pageLink {
  padding: 0 5px;
  text-decoration: none;
  color: #cb0d1f;
}

.breadCrumble i {
  color: #626262;
  font-size: 12px;
}
/*# sourceMappingURL=BreadCrumble.css.map */