@import "../../Styles/Variables/Colors.scss";
@import "../../Styles/ComponentsStyles/ComponentsStyles.scss";

.breadCrumble {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 10px 10px 10px 50px;
  margin-right: 50px;

  .principal {
    @include link($blueColor);
   }
   
    .pageLink {
    @include link($redColor);
  }

  i{
    @include icons($mediumGray); 
  }
}
