@import "../../Styles/ComponentsStyles/ComponentsStyles.scss";
@import "../../Styles/Variables/Colors.scss";

.headerBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 15px;

  img {
    padding: 0 10px;
    
  }

  .squareRed {
    @include square($redColor);
  }

  .square {
    @include square($darkGrayColor);
  }

  .searchBar {
    display: none;
  }

  @media screen and (min-width: 600px) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    align-items: center;
    margin-top: 20px;
    padding: 15px;
    font-size: larger;

    .squareRed {
      display: none;
    }

    .square {
      display: none;
    }

    .btnSearch {
      @include button($whiteColor, $redColor);
    }

    .searchBar {
      display: flex;

      input {
        border: 2px solid $grayColor;
        width: 250px;
        height: 30px;
      }
    }
  }
}
