.headerBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  padding: 15px;
}

.headerBar img {
  padding: 0 10px;
}

.headerBar .squareRed {
  border: 2px solid #cb0d1f;
  color: #cb0d1f;
  border-radius: 6px;
  padding: 4px 10px;
}

.headerBar .square {
  border: 2px solid #231f20;
  color: #231f20;
  border-radius: 6px;
  padding: 4px 10px;
}

.headerBar .searchBar {
  display: none;
}

@media screen and (min-width: 600px) {
  .headerBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
    padding: 15px;
    font-size: larger;
  }
  .headerBar .squareRed {
    display: none;
  }
  .headerBar .square {
    display: none;
  }
  .headerBar .btnSearch {
    color: white;
    background-color: #cb0d1f;
    border: 1px solid #cb0d1f;
    padding: 5px;
  }
  .headerBar .searchBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .headerBar .searchBar input {
    border: 2px solid #acacac;
    width: 250px;
    height: 30px;
  }
}
/*# sourceMappingURL=FusionHeader.css.map */