.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin-top: 10%;
  }

  img {
    border-radius: 50%;
    width: 20%;
    margin: 20px;
  }
  div {
    display: flex;
    flex-direction: row;
  }

  a {
    padding: 15px;
  }

  .fab {
    font-size: "40px";
    color: "black";
  }
}
