@mixin square($colors) {
  border: 2px solid $colors;
  color: $colors;
  border-radius: 6px;
  padding: 4px 10px;
}

@mixin button($colors, $backgroundColor) {
  color: $colors;
  background-color: $backgroundColor;
  border: 1px solid $backgroundColor;
  padding: 5px;
}

@mixin h3Categories {
  font-weight: 600;
  color: $darkBlueColor;
  font-size: 18px;
  margin-top: 30px;
  margin-left: 30px;
}

@mixin listCategorie {
  text-decoration: none;
  color: $mediumGray;
  list-style: $mediumGray;
  font-size: 14px;
}

@mixin buttonColors($colors) {
  width: 50px;
  height: 20px;
  padding-right: 2px;
  border: none;
  background: $colors;
  margin: 3px;
}

@mixin link($colors) {
  padding: 0 5px;
  text-decoration: none;
  color: $colors;
}

@mixin icons($colors) {
  color: $colors;
  font-size: 12px;
}
